.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin-left: 10px;
    margin-right: 10px;
}
.titulo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.menu{
    text-align: right;
    padding: 18px;
    background-color: #43C7F4;
    width: 90%;
    font-size: 25px;
    }

.tabla{
    width:80% ;
    margin: 40px;
    
}

.margen{
    width: 300px;
    padding-left:50px;
    padding-right: 50px;
    margin-left: 30px;
    margin-right: 30px;
    border: 10px solid black;
}



